// color
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/
$red: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$yellow: rgb(255, 204, 0);
$green: rgb(76, 217, 100);
$teal-blue: rgb(90, 200, 250);
$blue: rgb(0, 122, 255);
$purple: rgb(88, 86, 214);
$pink: rgb(255, 45, 85);


// timing function
// https://material.io/design/motion/speed.html#easing
$decelerate-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
$accelerate-easing: cubic-bezier(0.4, 0.0, 1, 1);
